* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-generator {
    background: #161b22;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 40px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.qr-generator:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 255, 157, 0.6);
}

h1 {
    font-size: 2rem;
    color: #58a6ff;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(88, 166, 255, 0.8);
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 15px;
    background-color: #21262d;
    color: #c9d1d9;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3), 0 0 15px rgba(88, 166, 255, 0.6);
    transition: box-shadow 0.3s, transform 0.2s;
}

input[type="text"]:focus {
    box-shadow: 0 0 15px rgba(0, 255, 157, 0.8), 0 0 20px rgba(0, 255, 157, 0.6);
    transform: scale(1.03);
}

button {
    background: linear-gradient(145deg, #0d6efd, #023e8a);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(88, 166, 255, 0.4), inset 0 5px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s, box-shadow 0.3s;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0, 255, 157, 0.6), 0 5px 15px rgba(88, 166, 255, 0.5);
}

#imgbox {
    margin-top: 20px;
    padding: 10px;
    background-color: #21262d;
    border-radius: 8px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 150px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 255, 157, 0.6);
}
